@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap");

.bg {
  background-color: #212121;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.fg {
  font-family: Trispace;
  color: #e0e0e0;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}
